<h1>List Show</h1>
<h2><%= @list.name %></h2>

<% @list.movies.each do |movie| %>
  <%= movie.title %>
<% end %>

<%= link_to "add a bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Delete #{@list.name}",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
